extends layout

block content
  a.button.login-with-google-btn(href='/create-account/login/google') Sign in with Google

//-   h1 Sign Up
//-   form(action='' method='POST')
//-     label(for='username') Username
//-     input(name='username' placeholder='username' type='text')
//-     label(for='password') Password
//-     input(name='password' type='password')
//-     button Sign Up
