extends layout

block content
 .d-flex.align-items-center
  .container.homepage-container
   .row
     .col-lg-6.order-2.justify-content-center.d-flex.flex-column.orger-lg-1.pt-4
       h1 Life is short. Read great books.
       h3 Check out your friends' favorites. Share yours. Find your next read. 
     .col-lg-6.order-1.order-lg-2.hero-img
       img(src='/images/book_pile.svg' alt='books' style='width: 300px; height: auto')

