:root {
  --orange: rgb(243, 154, 46);
  font-family: 'Marhey';
}

.header {
  text-align: left;
  margin-left: 0;
}

.navbar-brand {
  font-family: 'Marhey';
  margin-left: 0.2rem;
}

.navbar {
  padding-top: 1%;
  padding-bottom: 1%;
}

#addBook {
  width: 150px;
  display: inline-block;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  background-color: antiquewhite;
  color: #1d1d1d;
  font-weight: 600;
  border:none;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-moz-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

#addBook:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2) !important;
  -webkit-moz-transform: translate(0px, -10px) scale(1.2) !important;
  transform: translate(0px, -10px) scale(1.2) !important;
}

.table-row {
  margin-top: 4%;
}

/* erroring on modals */
small {
  color: #e75c3c;
  margin-top: 5px;
  visibility: hidden;
}

.mb-2.error small {
  visibility: visible;
}

.mb-2.error input {
  border-color: #e75c3c;
}

.addBookButton {
  margin-left: auto;
}

.reader-name {
  font-size: 2rem;
  color: var(--orange);
  font-weight: 900;
  font-family: 'Gloria Hallelujah', cursive;
}

.outline {
  border: var(--orange);
  background-color: var(--orange);
  padding: 7px;
}

.num-books {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  color: var(--orange);
  font-size: 1rem;
  font-weight: 600px;
}

.label-num-books {
  color: white;
  font-size: 1rem;
}

.auth {
  padding: 3px;
  font-family: 'Marhey';
  color: var(--orange);
  font-size: 1.3rem;
  margin-right: 0.7rem;
}

.auth-google {
  display: flex;
}

.logout {
  font-family: 'Marhey';
  font-size: 0.9rem;
  color: rgb(37, 57, 173);
}

.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 16px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  text-decoration: none;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
  
.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  .login-with-google-btn:active {
    background-color: #eeeeee;
  }
  .login-with-google-btn:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }

  .hero-img {
    width: 450px;
    height: auto;
  }

  .homepage-container {
    padding-top: 72px;
  }

  .headline {
    font-size: 4rem;
    margin-bottom: 5%;
  }

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1300px;
}

.row {
  gap: 3%;
}


@media screen and (max-width: 700px) {
  .hero-img {
    width: 80%;
  }
  .headline {
    font-size: 3rem;
    text-align: center;
}
  .homepage-container {
    padding-top: 10px;
  }
  .subheader {
    margin-top: 10px;
    text-align: center;
  }
  .subtext-italics {
    text-align: center;
  }
}

.subtext-italics {
  font-size: 1.3rem;
}

.orange {
  color: var(--orange);
}

.homepagelogin {
  width: 220px;
  color: #4285F4;
  background-color: white;
  border: solid #4285F4;
  text-align: center;
}

.login-container {
  align-items: end;
}

.login-row {
  align-items: center;
}

* {
	box-sizing: border-box;
}

.list-container-users {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.4rem;
	background: whitesmoke;
	margin: 0;
	padding: 1rem;
	display: grid;
	place-items: flex-start;
	min-height: 100vh;
  align-items: start;
}

.unordered-list-users {
	list-style-position: inside;
	width: 600px;
	max-width: 100%;
	background: white;
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
	padding: 0;
	margin: 0;
	border-radius: 0.1rem;
}

.list-items-users {
	padding: 1rem 1rem 1rem 1rem;
}

.list-items-users:not(:last-child) {
	border-bottom: solid lightblue;
}

/* .list-items-users:first-child {
	margin-top: 1rem;
}
.list-items-users:last-child {
	margin-bottom: 1rem;
} */

::marker {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.4 16.2c-2.3-2.3-5.4-3.5-8.4-4.5-.5-.2-1.1-.3-1.6-.5-1.6-1.6-3.7-2.8-6.2-3.2-1-.2-1.9.1-2.5.6-.9-.3-1.8-.6-2.7-.8-3.2-1-6.4-1.8-9.5-.1-1 .5-1.9 1.2-2.7 2-6.4 1.4-11.7 5-12.4 12.7C0 27 1.9 31.5 4.9 34.9c.1.6.2 1.1.4 1.7 1 3.2 3.3 5.7 6.7 6.5 2.7.6 5.4-.2 7.9-1.2 3.3.4 6.7.3 9.9 0 6.5-.7 13.3-2.8 17.1-8.5 3.6-5.2 4-12.6-.5-17.2zm-17.3.9c2.1.4 4 1.7 4.7 3.8 0 .5-.1 1.1-.2 1.6-.3 1.4-.8 2.6-1.6 3.7-.7.2-1.5.1-2.3-.4-.8-.4-1.6-1-2.2-1.6-.4-.4-1.2-1.7-1.6-1.9 3.4 1.3 5.1-3 3.2-5.2zm-11.6 9.7c.2-1.9 1.1-3.9 2.3-5.5-.4 2.1.3 4.2 1.7 6 1.3 1.7 3.1 3.2 5 4.2-.2.1-.4.2-.6.4-.1 0-.1.1-.2.1-3.9.2-8.7-.8-8.2-5.2zm-6.4 3.1c.1.3.1.7.2 1 .2.6.4 1.2.7 1.8-.4-.2-.7-.5-1-.7.1-.8.1-1.4.1-2.1zm31.2-1.3c-.9 1.7-2.1 3.1-3.7 4.1 2-2.1 3.4-4.7 4-7.6.2-.7.3-1.4.3-2.1.6 1.5.5 3.3-.6 5.6z'/%3E%3C/svg%3E") ' ';
}

.list-items-users:nth-child(3n)::marker {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.5 12.5c-.4-1.1-1.3-1.8-2.2-2-4.2-4-11.6-4.3-17.1-4.1-6.9.3-13.9 2.1-19.4 6.5C2 17.5-2.4 25.7 2.5 32.6c2.2 3.2 5.5 4.9 9 5.5 3.3 1.7 6.7 3.3 10.2 4.4 7.8 2.3 17 1.6 23.2-4.3 7.3-7 4.8-17.3 1.6-25.7zm-20.2 2.7c.6 0 1.3 0 1.8.2 1.1.4 1.7 1.3 2 2.3-1-1.2-2.4-2.1-3.8-2.5zm-1.4 6.6c.9.9 1.3 2.2-.2 2.3-2 .2-1.1-1.9.2-2.3zm-11.8 9.8c-.6-.3-2.9-1.1-3.2-1.8-.2-.5 1.4-3.1 2.1-4.2.3.5.7 1 1.2 1.4 0 .3.1.6.2.8.5 1.9 1.5 3.1 2.9 4h-.2c-.8.1-1.6.1-2.5-.1-.2 0-.3 0-.5-.1zM24 36.4c1.6-.7 3-1.5 4.3-2.5.8.2 1.7.3 2.5.5 2.5.4 5.2.9 7.7.6-.9.6-2 1.1-3 1.4-3.9 1.3-7.7 1-11.5 0z'/%3E%3C/svg%3E") ' ';
}

.list-items-users:nth-child(3n - 1)::marker {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M48.3 23.7c-1-9.9-9.9-15.6-18.8-17.8-8.2-2.1-18.8-2.6-24.6 4.8C.6 16.2 1 23.6 4.3 29.3c-.5 1-.8 2-1 3-.6 4 2 7.6 5.1 10 5.9 4.4 14 4.2 19.6-.4 1.5 0 2.9-.2 4.4-.5 1.8 0 3.5 0 5.3-.1 2.3-.1 3.5-1.9 3.5-3.7 4.5-3.3 7.7-8.2 7.1-13.9zM9.1 17.8c1.1-4.1 4.9-5.8 8.8-6.1.9-.1 1.9-.1 2.9-.1-3.2 1.6-6.3 4.6-8 7.4-.1.1-.1.2-.2.3-1.1.9-2.1 1.9-3 2.9-.2.2-.4.4-.5.6-.4-1.7-.5-3.3 0-5z'/%3E%3C/svg%3E") ' ';
}

.list-items-users:nth-child(4n) a {
  color: rgb(216, 48, 48);
}

.list-items-users:nth-child(4n - 1) a {
  color: green;
}

.list-items-users:nth-child(4n - 2) a {
  color: var(--orange);
}

.rabbit-holes {
 font-family: 'Courier New', Courier, monospace;
 margin-top: 2%;
 margin-bottom: 2%;
 color: rgb(33, 33, 33);
}

.homepage-row {
  justify-content: center;
}